html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
  cursor: pointer; }

.content,
.shader,
.error {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1e1e1e;
  color: #d4d4d4; }

.shader {
  border: 0 solid #1e1e1e; }

.tools {
  position: absolute;
  width: auto;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity ease-in-out 250ms;
  transition: opacity ease-in-out 250ms; }
  .tools .btn {
    width: 34px;
    height: 34px;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0 !important;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms; }
    .tools .btn:hover, .tools .btn.active {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1); }
  .tools .btn + .btn {
    margin-left: 6px; }
  .tools .btn-record.active {
    color: #e54646; }

.errors {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: #252526; }
  .errors.active {
    display: block; }

.welcome {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e1e1e; }
  .welcome.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .welcome .welcome-content {
    text-align: center; }

.btn-create {
  -webkit-appearance: none;
  background: #007acc;
  color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 6px;
  border: 0;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
  .btn-create:hover, .btn-create:active, .btn-create:focus {
    background: #006bb3;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2); }

.errors-content {
  width: calc(100% - 30px);
  height: auto;
  min-height: 100%;
  padding: 15px; }
  .errors-content ul {
    list-style: none;
    padding: 0; }
  .errors-content li {
    padding: 0; }
    .errors-content li a,
    .errors-content li a:hover,
    .errors-content li a:visited,
    .errors-content li a:link {
      color: unset;
      text-decoration: none; }
  .errors-content .error,
  .errors-content .warning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0px solid #d4d4d4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    cursor: pointer;
    -webkit-transition: ease-in-out 250ms background-color;
    transition: ease-in-out 250ms background-color; }
    .errors-content .error span,
    .errors-content .warning span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 2px; }
  .errors-content .error {
    background-color: rgba(229, 70, 70, 0.2);
    border-color: rgba(229, 70, 70, 0.3); }
    .errors-content .error .line {
      color: #e54646; }
    .errors-content .error:hover {
      background-color: rgba(229, 70, 70, 0.3); }
  .errors-content .warning {
    background-color: rgba(204, 102, 51, 0.2);
    border-color: rgba(204, 102, 51, 0.3); }
    .errors-content .warning .line {
      color: #cc6633; }
    .errors-content .warning:hover {
      background-color: rgba(204, 102, 51, 0.3); }
  .errors-content .line {
    color: #4ec9b0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 124px;
            flex: 0 0 124px; }
  .errors-content .value {
    color: #569cd0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 74px;
            flex: 0 0 74px; }
  .errors-content .text {
    color: #d4d4d4;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.dg.ac {
  height: auto;
  right: 0;
  left: auto;
  position: absolute;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.dg.main.taller-than-window .close-button {
  border-top-color: #1e1e1e; }

.dg.main .close-button {
  background-color: #1e1e1e; }
  .dg.main .close-button:hover {
    background-color: #2b2b2b; }

.dg.a {
  margin-right: 15px; }

.dg li.folder {
  border-left-color: #569cd0; }

.dg .property-name {
  width: 40%; }

.dg .c {
  width: 60%; }
  .dg .c .slider:hover .slider-fg {
    background: #569cd0; }

.dg.dialogue {
  background-color: #1e1e1e;
  width: 460px;
  padding: 15px;
  font-size: 13px;
  line-height: 15px; }

.dg {
  color: #d4d4d4;
  font: 11px inherit;
  text-shadow: none; }
  .dg.main::-webkit-scrollbar {
    background: #1e1e1e; }
  .dg.main::-webkit-scrollbar-thumb {
    background: #6b6b6b; }
  .dg li:not(.folder) {
    background: #1e1e1e;
    border-bottom-color: rgba(255, 255, 255, 0.2); }
  .dg li.save-row {
    background: #569cd0; }
    .dg li.save-row .button:hover {
      background-color: #262626;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .dg li.title {
    background: #000 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
    border-bottom-color: rgba(255, 255, 255, 0.2); }
  .dg .closed li.title {
    background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==); }
  .dg .c input[type=text] {
    background: #1e1e1e; }
    .dg .c input[type=text]:hover {
      background: #2b2b2b; }
    .dg .c input[type=text]:focus {
      background: #383838;
      color: #d4d4d4; }
  .dg .c .slider {
    background: #1e1e1e; }
    .dg .c .slider:hover {
      background: #2b2b2b; }
  .dg .cr.boolean {
    border-left-color: #263f3b; }
    .dg .cr.boolean .c .slider-fg {
      background: #45c4b0; }
    .dg .cr.boolean .c .slider:hover .slider-fg {
      background: #58cab8; }
  .dg .cr.function {
    border-left-color: #444131; }
    .dg .cr.function .c .slider-fg {
      background: #dccd7d; }
    .dg .cr.function .c .slider:hover .slider-fg {
      background: #e1d591; }
  .dg .cr.number {
    border-left-color: #293743; }
    .dg .cr.number input[type=text] {
      color: #569cd6; }
    .dg .cr.number .c .slider-fg {
      background: #569cd6; }
    .dg .cr.number .c .slider:hover .slider-fg {
      background: #6ba8db; }
  .dg .cr.string {
    border-left-color: #3f332e; }
    .dg .cr.string input[type=text] {
      color: #c3886f; }
    .dg .cr.string .c .slider-fg {
      background: #c3886f; }
    .dg .cr.string .c .slider:hover .slider-fg {
      background: #cb9781; }
  .dg .cr.function:hover, .dg .cr.boolean:hover {
    background: #1e1e1e; }

.dg {
  opacity: 0;
  -webkit-transition: opacity ease-in-out 250ms;
  transition: opacity ease-in-out 250ms; }

body.idle .stats, body.empty .stats {
  visibility: hidden; }

body:not(.idle):hover .tools, body:not(.idle):hover .dg {
  opacity: 1; }
