// vars
$background: #1e1e1e;
$foreground: #333333;
$errors: #252526;
$error: #e54646;
$warning: #cc6633;
$line: #4ec9b0;
$value: #569cd0;
$text: #d4d4d4;
$tools: #000000; // #333333;
$record: #e54646;
$create: #007acc;